.profile {
  display: flex;
  position: relative;
  align-items: center;

  .profile-elipse {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--navbar-profile-bg);
    border: 1px solid var(--navbar-profile-border);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
    border-radius: 32px;

    gap: 8px;
    padding: 5px;
    img {
      width: 22px;
      height: 22px;
      border-radius: 50%;
    }
  }
  

  .arrow {
    transition: all 0.2s ease-in-out;
  }

  .open {
    transform: rotateX(180deg);
  }

  &-dropdown {
    position: absolute;
    top: 40px;
    left: -30px;
    width: 100px;
    height: auto;

    padding: 20px;
    background-color: white;

    &-item {
      border-bottom: 1px solid gray;
      padding: 10px;

      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
