.form-wrapper {
  align-items: center;
  height: 90vh;

  .form-box {
    border: 1px solid gray;
    box-shadow: 0 0 100 100;
    width: 60vh;
    padding: 40px;
    box-shadow: 0 0 10px 10px #aaaaaa;
  }
}
