.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  background-color: var(--bg-theme);

  .taskList {
    display: grid;

    padding: 20px 0px 0px 52px;
    margin-right: 13vw;
    transition: flex 1s ease-in-out, margin-right 1s ease-in-out,
      padding-left 1s ease-in-out;
    flex: 2;
    overflow: scroll;

    &.shrink {
      flex: 0.00000001;
      margin-right: 0px;
      padding-left: 0px;
    }
  }
}

.main-content {
  display: flex;

  // height: calc(100vh - 56px);

  grid-template-columns: repeat(12, 1fr);
  gap: 12px;

  flex: 11;

  transition: all 1s ease-in;

  position: relative;
  .shrink-icon {
    position: absolute;
    right: 90px;
    top: 30px;
    cursor: pointer;
    z-index: 1;
    height: 28px;
    padding: 6px 8px;
    box-sizing: border-box;
    display: flex;
    gap: 2px;
    align-items: center;
    background: #ededff;
    border-radius: 12px;

    font-weight: 500;
    font-size: 12px;
    color: #8694c9;
  }

  .timer-container {
    padding-left: 8vw;

    align-items: start;
    position: relative;

    flex: 1;

    &.purple {
      background-color: var(--bg-work);
    }

    &.pink {
      background-color: var(--bg-break);
    }

    &.cyan {
      background-color: var(--bg-long-break);
    }

    display: flex;
    flex-direction: column;

    align-items: center;
    .timer {
      margin-top: 60px;
      position: relative;
      right: 30px;
      width: 19.3vw;
    }

    .current-task {
      margin-top: 40px;
      width: calc(min(100%, 50vw));
      position: relative;
      right: 30px;
      opacity: 0;

      animation: slide-up 1s 0.5s ease-in-out forwards;
    }

    .maximize-icon {
      position: absolute;
      right: 50px;
      top: 20px;
      cursor: pointer;
    }
  }

  &.hide-sidebar {
    .sidebar-container {
      grid-column: 11 / 13;
    }

    .taskList {
      grid-column: 5 / 12;
    }
  }
  &.show-sidebar {
    .sidebar-container {
      grid-column: 10 / 13;
    }

    .taskList {
      transition: 1s;
    }
  }

  .sidebar-container {
    overflow: hidden;
    position: relative;
    button {
      position: absolute;
      top: 50px;
      left: 50px;
    }
  }
}

.footer-container {
  z-index: 1;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
