.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  background-color: #ffffff;
  font-family: Roboto;

  .taskList {
    display: grid;

    padding: 20px;
  }
}

.main-content {
  display: grid;
  height: auto;

  grid-template-columns: repeat(12, 1fr);
  gap: 12px;

  flex: 11;

  transition: all 1s ease-in;

  .timer-container {
    grid-column: 1 / 5;
    padding-left: 6vw;

    align-items: start;

    &.purple {
      background-color: #f7f7ff;
    }

    &.pink {
      background-color: #fffcfd;
    }

    &.cyan {
      background-color: #f9feff;
    }

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    .timer {
      margin-top: 94px;
      grid-column: 1 / 5;
    }
  }

  &.hide-sidebar {
    .sidebar-container {
      grid-column: 11 / 13;
    }

    .taskList {
      grid-column: 5 / 12;
    }
  }
  &.show-sidebar {
    .sidebar-container {
      grid-column: 10 / 13;
    }

    .taskList {
      grid-column: 5 / 10;
      transition: 1s;
    }
  }

  .sidebar-container {
    overflow: hidden;
    position: relative;
    button {
      position: absolute;
      top: 50px;
      left: 50px;
    }
  }
}

.footer-container {
  z-index: 1;
}
