.settings {
  .account {
    margin-bottom: 20px;
  }

  .profile-settings {
    display: flex;
    gap: 10px;
    align-items: center;
    .profile-icon {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      padding: 15px;
    }
  }
}
