.sidenav {
  display: flex;
  flex-direction: column;

  background-color: var(--settings-sidenav-bg);
  color: #363636;
  height: 100%;
  box-sizing: border-box;

  padding: 32px 24px 0px 24px;

  .settings-title {
    margin-bottom: 20px;
    padding-left: 2px;
  }

  &-item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    padding: 8px 10px;
    color: var(--settings-color);
    cursor: pointer;

    font-size: 12px;

    &:hover {
      background-color: var(--settings-hover);
      border-radius: 14px;
    }
    svg {
      stroke: #959595;
    }

    &.selected {
      border-radius: 14px;
      background-color: var(--settings-selected-bg);
      display: flex;
      align-items: center;
      color: var(--settings-selected-color);
      font-weight: 500;
      svg {
        stroke: #2e3c87;
      }
    }
  }
}
