.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-theme);

  // position: relative;
  // left: 12px;
}

.summary {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  text-align: right;

  align-self: center;
  margin-left: auto;
}

.completed {
  color: #8a99e9;
}
.tasklist {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  margin-top: 8px;
}
