.container {
  width: 100vw;
  .main-content {
    padding: 30px;
    height: calc(100vh - 40px);
    box-sizing: border-box;

    .timer {
      height: 80vh;
    }

    &.purple {
      background-color: var(--bg-work-mobile);
    }

    &.pink {
      background-color: var(--bg-break-mobile);
    }

    &.cyan {
      background-color: var(--bg-long-break-mobile);
    }
  }
}
