.sidebar {
  display: flex;
  flex-direction: column;

  background-color: #475cc8;
  color: #ffffff;

  height: calc(100vh - 104px);
  overflow-y: scroll;

  padding: 48px 16px 0px 16px;

  &-item {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    padding: 6px 8px 6px 8px;

    font-weight: medium;
    font-size: 14px;
    line-height: 20px;

    &.selected {
      background: #3347ac;
      border-radius: 8px;
      font-weight: bold;
    }
  }
}
