.sidebar {
  display: flex;
  flex-direction: column;

  background-color: var(--all-task-sidebar-bg);
  color: #ffffff;

  height: calc(100vh - 104px);
  overflow-y: scroll;

  padding: 48px 16px 0px 16px;

  &-item {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    padding: 6px 8px 6px 8px;

    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    cursor: pointer;

    &.selected {
      background: var(--all-task-sidebar-selected-bg);
      border-radius: 4px;
      font-weight: bold;
    }
  }
}
