.timer {
    width: 297.61px;
height: 297.61px;
background: radial-gradient(99.46% 88.64% at 70.45% 3.41%, #CAD2FD 0.69%, #637BF9 60.46%, #334996 100%);
border-radius: 50%;
position: relative;
display: flex;
align-items: center;
justify-content: center;

.text {
    color: #FFFFFF;

text-shadow: 0px 6.76393px 12.4005px #4356B3;
font-weight: 300;
font-size: 48px;
}

.cta {
    position: absolute;
}
}