.completed-pomos {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--text-theme);
  .title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .circles {
    display: flex;

    gap: 8px;
    margin-left: 12px;
    .estimated-pomo {
      width: 20px;
      height: 20px;
      background: var(--daily-stats-estimated-bg);
      border: var(--daily-stats-estimated-border);
      box-sizing: border-box;
      // box-shadow: inset -1px 3px 6px rgba(0, 0, 0, 0.12);
      border-radius: 10px;

      font-size: 12px;
      line-height: 14px;

      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--daily-stats-estimated-color);
    }

    .completed-pomo {
      width: 20px;
      height: 20px;
      border-radius: 10px;


      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;

      display: flex;
      align-items: center;
      justify-content: center;

      text-align: center;

      color: var(--daily-stats-completed-color);

      background: var(--daily-stats-completed-bg);
      box-shadow: var(--daily-stats-completed-box-shadow)
    }
  }

  .apprx-time {
    margin-left: auto;
    align-self: center;

    font-weight: 500;
    font-size: 14px;
    color: var(--daily-stats-aprx-time-color);
  }
}
