.container {
  background-color: var(--bg-theme-2);
  color: var(--text-theme);
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;

  gap: 20px;

  min-height: 83vh;

  padding-top: 30px;

  .max-svg {
    width: 80%;
    height: 80%;
  }

  .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 40px;
    text-align: center;
  }

  .desc {
    font-size: 24px;
    font-weight: 450;
    text-align: center;
  }

  .alt-title {
    font-weight: 450;
    font-size: 24px;
    color: var(--text-theme);
    text-align: center;
  }

  .problem-card {
    width: 316px;
    height: 132px;
    box-sizing: border-box;
    padding: 24px;

    font-weight: 450;
    font-size: 20px;
    color: white;
    opacity: 0.8;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--all-task-sidebar-bg);
    border-radius: 12px;
  }

  .five-steps-box {
    background: var(--bg-task-theme);
    border-radius: 40px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 32px;
    padding: 20px;

    position: relative;

    .step {
      display: flex;
      gap: 20px;
      font-weight: 450;
      font-size: 18px;
      color: white;
      align-items: center;

      .circle {
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        border-radius: 50%;
        background-color: var(--landing-icon-circle-bg);
        font-weight: 450;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
      .text {
        flex: 1;
      }
    }

    .oval {
      background: var(--landing-icon-circle-bg);
      opacity: 0.2;
      border-radius: 40px;
      width: 50px;
      height: 100%;
      position: absolute;
      right: -20px;
    }

    .dot-grid-2 {
      position: absolute;
      top: -40px;
      right: -60px;
    }
  }

  .testimonial {
    background-color: var(--landing-card-bg);
    box-shadow: var(--landing-card-shadow);
    border-radius: 20px;
    width: 80%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-left: auto;
    margin-right: auto;
    .header {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .img {
        width: 57px;
        height: 57px;
        border-radius: 50%;
        align-self: center;
        margin-top: 20px;
      }

      .designation {
        display: flex;
        flex-direction: column;
        gap: 2px;
        .name {
          font-size: 16px;
          line-height: 24px;

          color: var(--text-theme);
        }
        .role {
          font-weight: 450;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    .content {
      font-weight: 450;
      font-size: 16px;
      color: var(--landing-text-dark);

      opacity: 0.7;
    }
  }

  .faq-box {
    width: 65vw;

    background: var(--landing-card-bg);
    box-shadow: var(--landing-card-shadow);
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 40px;

    .header {
      display: flex;
      gap: 16px;
      margin-bottom: 50px;
      justify-content: center;
    }

    .faqs {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .faq {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .question {
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
        }
        .answer {
          font-weight: 450;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}
