.add-task-btn {
  background-color: #839cfb;
  color: white;
  border: 1px solid #5976d8;
  border-radius: 8px;

  display: flex;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;

  padding: 8px 12px;

  width: 124px;
  height: 32px;
}
