.item {
  margin-right: 8px;
  align-self: center;
  cursor: pointer;
  background-color: var(--bg-theme);

  &.circle-filled {
    background: var(--circle-radial-grad);
    box-shadow: var(--circle-bg-shadow);

    border: none;
    font-weight: 500;
    font-size: 10px;
    color: white;
    line-height: 14px;
  }
}
.add {
  color: #8e94c5;
  cursor: pointer;
  display: flex;
  align-items: center;

  svg {
    width: 12px;
    height: 12px;
  }
}

.add-max-pomos {
  height: 20px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;

  .epomo-circle {
    background: var(--epomo-circle-bg);
    border: 1px solid #bbc2f8;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    box-shadow: inset 0px 2px 3px rgba(177, 189, 236, 0.77);
    padding: 4px 7px 2px 7px;
    border-radius: 10px;

    font-size: 10px;
    color: #5f6bc9;
  }
  .minus-icon {
    padding: 4px;
    display: flex;
    align-items: center;
  }
}
