@import "../../../styles/variables";

.footer-container {
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  width: 75%;
  margin-left: auto;
  margin-right: auto;

  .footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    padding: 16px;

    grid-column: 5 / 13;

    height: 100%;
    gap: 10px;

    background-color: white;

    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 4px;

    z-index: 1;

    .meeting {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: minmax(200px, auto);

      justify-self: center;
      align-items: center;
      gap: 10px;
    }

    .completed-pomos {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 55%;
      font-size: 14px;
      font-weight: 400;

      grid-column: 1 / 10;

      &-circles {
        margin-left: 8px;
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
      &-title {
        margin-right: 4px;
      }
    }

    .round-border {
      width: 20px;
      height: 20px;
      border: 1px solid black;
      border-radius: 20px;
    }

    .filled {
      background: #eeeffa;
      border: 1px solid #bcc7ff;

      display: flex;
      justify-content: center;
      align-items: center;

      color: #a1aef0;
      font-size: 12px;
      line-height: 14px;
    }

    .lock {
      position: absolute;
      background-color: grey;
      opacity: 0.5;
    }
  }
}
