.tags-container {
  .tags-list {
    border-bottom: 1px solid gray;
    padding-bottom: 6px;

    .tags-item {
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 4px;
      position: relative;

      &.view-only {
        justify-content: left;
      }
    }
  }

  .create-tags-container {
    .create-text {
      padding: 10px 8px;
      color: #999ec7;

      display: flex;
      align-items: center;

      font-size: 12px;
      line-height: 16px;

      svg {
        width: 10px;
        height: 10px;
      }
    }

    .tag-input {
      border: none;
      background-color: white;
      padding: 8px;
      width: 80%;

      color: #999ec7;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;

      &:focus-visible {
        border: none;
        outline: none;
      }
    }

    .tag-svg {
      position: absolute;
      color: #999ec7;
      top: 10px;
      right: 8px;
      width: 12px;
      height: 12px;
      cursor: pointer;
    }
    .create-view {
      display: flex;
      flex-direction: column;
      gap: 10px;

      padding: 8px 12px;

      .tag-name-label {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #adb2db;
      }

      .color-palette {
        display: flex;
        gap: 8px;
      }
      .cta {
        display: flex;
        justify-content: center;
      }
    }
  }
}
