@import "./variables";

.btn {
  padding: 10px;
  min-height: 36px;
  background-color: white;
  border: 1px solid #555;

  cursor: pointer;

  &-google {
    padding: 12px 12px;
    width: 172px;
    height: 40px;
    text-align: left;
    display: flex;
    gap: 8px;
    font-size: 12px;
    line-height: 16px;
    background: #ffffff;
    border: 1.0177px solid #cbcff7;
    box-sizing: border-box;
    border-radius: 8px;
    color: #000000;
    font-weight: 500;
  }

  &-facebook {
    @extend .btn-google;
    width: 178px;
    svg {
      position: relative;
      top: -2px;
    }
  }

  &-small {
    padding: 5px;
    min-width: 10px;
    min-height: 10px;
  }

  &-round {
    border-radius: 10%;
  }

  &-simple {
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    min-width: 95px;

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    color: #000000;

    &-light {
      border: 1px solid #b0b0b0;
      color: #b0b0b0;
    }
  }
  &-login {
    background: #839cfb;
    border: 1px solid #5976d8;
    box-sizing: border-box;
    box-shadow: var(--login-btn-shadow);
    border-radius: 8px;

    color: white;
  }

  &-premium {
    font-size: 14px;
    padding: 6px 12px;
    color: white;
    height: 32px;
    border: none;

    background: linear-gradient(89.72deg, #5e73cb 0.3%, #acb8ff 99.81%);
    border-radius: 32px;
  }

  &-theme {
    background: var(--bg-theme);
    border: var(--btn-theme-border);
    box-sizing: border-box;
    box-shadow: var(--btn-theme-box-shadow);
    border-radius: 8px;

    color: #7581e2;
  }

  &-save {
    padding: 6px 20px;
    color: var(--btn-save-color);
    font-weight: 500;
    font-size: 14px;
    min-width: 100px;

    height: 36px;

    line-height: 20px;

    background: var(--btn-save-bg);
    border: var(--btn-save-border);
    box-sizing: border-box;
    box-shadow: var(--save-box-shadow);
    border-radius: 8px;

    &:hover {
      background: var(--btn-save-2-hover);
    }
  }
  &-save-2 {
    padding: 8px 12px 8px 8px;
    color: var(--btn-save-2-color);
    font-weight: 500;
    font-size: 14px;
    min-width: 100px;
    max-width: 117px;

    height: 36px;

    line-height: 20px;

    background: var(--btn-save-2-bg);
    border: var(--btn-save-2-border);

    box-sizing: border-box;
    box-shadow: var(--btn-save-2-box-shadow);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 2px;

    font-weight: 500;
    font-size: 12px;

    svg {
      fill: var(--btn-save-2-svg-fill);
    }

    &:hover {
      background: var(--btn-save-2-hover);
    }
  }
  &-cancel {
    background: var(--bg-theme);
    border: var(--btn-cancel-border);
    box-sizing: border-box;
    border-radius: 8px;
    width: 100px;
    height: 36px;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    padding: 8px 20px;
    color: var(--btn-cancel-color);

    &:hover {
      background: var(--btn-cancel-hover);
    }
  }
}

.add-task-btn {
  background-color: #839cfb;
  color: white;
  border: 1px solid #5976d8;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2px;
  filter: drop-shadow(0px 5px 9px rgba(88, 99, 173, 0.3));

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  padding: 10px 12px;

  width: 122px;
  height: 36px;
}

.btn-add-new {
  background: linear-gradient(180deg, #839cfb 0%, #4b6def 100%);
  border-radius: 8px;
  width: 280px;
  height: 55px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-btn {
  background: #6885f6;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;

  width: 212px;
  color: white;
  height: 52px;
}

.round-btn-empty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;

  width: 212px;
  height: 52px;

  border: 1px solid #6885f6;
  border-radius: 40px;
}
