@import "./variables";

.btn {
  padding: 10px;
  min-width: 40px;
  min-height: 40px;
  background-color: white;
  border: 1px solid #555;

  cursor: pointer;

  &-small {
    padding: 5px;
    min-width: 10px;
    min-height: 10px;
  }

  &-round {
    border-radius: 10%;
  }

  &-simple {
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    min-width: 95px;

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    color: #000000;

    &-light {
      border: 1px solid #b0b0b0;
      color: #b0b0b0;
    }
  }
}
