@import "./variables";

.btn {
  padding: 10px;
  min-width: 40px;
  min-height: 40px;
  background-color: white;
  border: 1px solid #555;

  cursor: pointer;

  &-small {
    padding: 5px;
    min-width: 10px;
    min-height: 10px;
  }

  &-round {
    border-radius: 10%;
  }
}
