.input {
  background: var(--edit-section-bg);
  color: var(--text-theme);
  border: var(--edit-section-border);
  box-sizing: border-box;
  box-shadow: var(--input-box-shadow);
  border-radius: 8px;
  padding: 12px;
  width: 100%;
}
