@import "./variables";

.modal-container-mobile {
  position: relative;
  width: 95vw;
  max-height: 80vh;
  background-color: var(--bg-task-theme);
  outline: none;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background: var(--bg-task-theme);
  box-shadow: 2px 7px 32px rgba(54, 64, 120, 0.17);
  border-radius: 12px;
  position: relative;

  overflow-y: scroll;
  overflow-x: hidden;

  .modal-content {
    box-sizing: border-box;
    width: 95%;
    padding: 42px 12px;
  }
}

.modal-container {
  position: relative;
  width: 45vw;
  max-height: 68vh;
  background-color: var(--bg-task-theme);
  outline: none;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background: var(--bg-task-theme);
  box-shadow: 2px 7px 32px rgba(54, 64, 120, 0.17);
  border-radius: 12px;
  position: relative;

  overflow-y: scroll;
  overflow-x: hidden;

  @media only screen and (max-width: 899px) {
    position: relative;
    width: 95vw;
    max-height: 80vh;
    background-color: var(--bg-task-theme);
    outline: none;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background: var(--bg-task-theme);
    box-shadow: 2px 7px 32px rgba(54, 64, 120, 0.17);
    border-radius: 12px;
    position: relative;

    overflow-y: scroll;
    overflow-x: hidden;

    .modal-content {
      box-sizing: border-box;
      width: 90% !important;
      padding: 42px 12px;
    }
  }

  &.big-modal {
    width: 84vw;
    max-height: 75vh;
    min-height: 75vh;
  }

  &.medium-modal {
    width: 60vw;
  }

  .modal-content {
    width: 100%;
    padding: 24px 24px 20px 24px;
    background-color: var(--bg-theme);
  }
}
.close {
  position: absolute;
  top: 22px;
  right: 22px;

  align-self: flex-end;
  cursor: pointer;
  z-index: 1;

  fill: var(--text-theme);
}

.modal-title {
  display: flex;
  justify-content: space-between;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  align-items: center;

  color: var(--text-theme-3);

  margin-bottom: 8px;
}

.modal-description {
  font-size: 12px;
  line-height: 16px;

  display: flex;
  align-items: center;

  color: var(--text-theme-3);
}
