.popper-container {
  width: 160px;
  height: 100%;

  display: flex;
  flex-direction: column;
  padding: 4px 0px;

  background: var(--bg-theme);
  border: var(--popper-border);
  box-sizing: border-box;
  box-shadow: var(--popper-box-shadow);
  border-radius: 4px;
  .popper-item {
    padding: 8px;
    display: flex;
    gap: 4px;
    height: 16px;

    font-size: 12px;
    line-height: 16px;

    display: flex;
    align-items: center;

    cursor: pointer;

    color: var(--popper-color);

    &:hover {
      background-color: var(--popper-hover);
    }

    &:not(:first-child) {
      border-top: var(--popper-item-border);
    }
  }
}

#project-popover {
  z-index: 1;
}
