.font-heading {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  color: #000000;
}

.font-sub-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.font-info {
  font-size: 14px;
  line-height: 20px;
}

.font-big {
  font-size: 48px;
  font-style: normal;
  line-height: 56px;
  font-weight: bold;
}

.font-medium {
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
}

.font-normal {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.font-align-center {
  text-align: center;
}

.font-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;

  color: #000000;
}
