@import 'tokens';

$primary-bg: #f6f6f6;
$light-bg: #e5e5e5;
$modal-backdrop-bg: #a6a6a6;

$font-weight-500: 500;
$font-weight-400: 400;
$font-weight-300: 300;

$icon-red: #f44336;
$icon-green: #8bc34a;
$icon-purple: #9c27b0;
$icon-pink: #e91e63;
$icon-blue: #03a9f4;
$icon-yellow: #ffeb3b;

$sidenav-selected: #3347ac;
