.toast {
  padding: 12px 8px 12px 12px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 9px;
  z-index: 10000;

  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 12px;
  line-height: 16px;

  .svg {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &.success {
    background: var(--toast-success-bg);
    border: var(--toast-success-border);
    color: var(--toast-success-color);

    svg {
      fill: var(--toast-success-color);
    }
  }

  &.failure {
    background: var(--toast-failure-bg);
    border: var(--toast-failure-border);
    color: var(--toast-failure-color);
    svg {
      fill: var(--toast-failure-color);
    }
  }
}
