.settings-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 0px;
  height: 68vh;
  .main {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    height: 100%;

    .sidebar {
      grid-column: 1 / 8;
      height: 100%;
    }

    .settings {
      grid-column: 8 / -1;
      padding: 32px 32px;

      overflow-x: hidden;
      background-color: var(--bg-theme);
    }
  }
}
