.section-task-list {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.section-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--text-theme);

  font-weight: 500;
  font-size: 20px;
  line-height: 36px;

  .hamburger {
    position: relative;
    top: 1px;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.dragging {
  margin-bottom: 20px;
  margin-top: 20px;
}

.section {
  margin: 0px 0px 10px 0px;
}
