.container {
  background-color: var(--bg-theme);
  display: flex;
  flex-direction: column;

  .priority {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--text-theme);
  }
}
.login {
  color: #2e3c87;
  text-decoration: underline;
}
