.container {
  background-color: white;
  display: flex;
  flex-direction: column;

  .priority {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
.login {
  color: #2e3c87;
  text-decoration: underline;
}
