.tabs {
  display: flex;
  flex-direction: row;

  .tab {
    width: 168px;
    height: 32px;

    display: flex;
    padding: 4px 0px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    color: #2e3c87;

    &.selected {
      background-color: #dfe5ff;
      border-radius: 8px;
      cursor: initial;
    }
  }
}
