.tabs {
  display: flex;
  flex-direction: row;

  .tab {
    width: 168px;
    height: 32px;

    display: flex;
    gap: 4px;
    padding: 4px 0px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    color: var(--tab-color);
    svg {
      fill: var(--tab-color);
    }

    &.selected {
      background-color: var(--tab-selected-bg);
      color: var(--tab-selected-color);

      border: var(--tab-border);
      border-radius: 8px;
      cursor: initial;
    }
  }
}
