.project-container {
  padding: 38px 24px 0px 84px;

  .task-container {
    margin-bottom: 8px;
  }

  .title {
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #000000;

    margin-bottom: 20px;
  }

  .task-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .edit-task-container {
      margin-bottom: 12px;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.project-add-new-task {
  margin-bottom: 24px;
}
