.edit-task {
  width: 100%;
  min-height: 147px;

  display: flex;
  flex-direction: column;

  background: #ffffff;
  border: 1px solid #bbc0eb;
  box-sizing: border-box;
  box-shadow: inset 0px 3px 9px rgba(153, 153, 153, 0.25);
  border-radius: 8px;

  position: relative;

  .task-tags-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    position: absolute;
    left: 20px;
    top: 42px;

    .task-tag-item {
      position: relative;

      font-weight: normal;
      font-size: 12px;
      line-height: 16px;

      .close {
        position: absolute;
        top: -6px;
        right: 0px;
        cursor: pointer;
      }
    }
  }
}
.content-editable-div {
  background: #ffffff;
  border: none;
  box-sizing: border-box;
  box-shadow: inset 0px 3px 9px rgba(153, 153, 153, 0.11);
  border-radius: 8px;
  padding: 16px 20px;
  font-size: 14px;
  line-height: 18px;

  &::placeholder {
    font-size: 14px;
    line-height: 18px;

    color: #afafaf;
  }

  color: #171717;

  position: relative;

  height: 74px;

  resize: none;

  &:focus-visible {
    outline: none;
  }

  width: 100%;
}

.description {
  height: 32px;
}

.cta-row {
  height: 16px;
  padding: 12px 12px;

  justify-content: space-between;
  display: flex;
  align-items: center;

  .border-round {
    border: 1px solid gray;
    border-radius: 6px;
  }

  .estimated-pomos {
    display: flex;
    align-items: center;

    .estimated-pomos-text {
      color: #808ac4;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;

      margin-left: 8px;
    }

    .estimated-pomos-container {
      margin-left: 8px;
    }
  }

  .right-cta {
    display: flex;
    align-items: center;

    .icon-container {
      padding: 2px 4px;

      &.priority-icon {
        padding: 2px 0px 2px 4px;
      }

      &:hover {
        background-color: #fff5f7;
      }
    }
  }

  .priority-popover {
    display: flex;
    background-color: white;
    flex-direction: column;
    min-width: 100px;
    min-height: 100px;
  }

  .project {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px;

    margin-right: 8px;

    background: #ffffff;
    border: 1px solid #dee2fc;
    color: #414141;
    box-sizing: border-box;
    border-radius: 4px;

    filter: drop-shadow(0px 2px 3px rgba(146, 154, 202, 0.35));

    font-size: 12px;
    line-height: 16px;
  }
}

.save-cta {
  margin-top: 12px;

  :first-child {
    margin-right: 10px;
  }
}
