.edit-task {
  width: 100%;
  min-height: 147px;

  display: flex;
  flex-direction: column;

  background: var(--bg-theme);
  border: var(--edit-border);
  box-sizing: border-box;
  box-shadow: inset 0px 3px 9px rgba(153, 153, 153, 0.25);
  border-radius: 8px;

  position: relative;

  .task-tags-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    position: absolute;
    left: 20px;
    top: 42px;

    .task-tag-item {
      position: relative;

      font-weight: normal;
      font-size: 12px;
      line-height: 16px;

      .close {
        position: absolute;
        top: -6px;
        right: 0px;
        cursor: pointer;
      }
    }
  }
}
.content-editable-div {
  background: var(--bg-theme);
  border: none;
  box-sizing: border-box;
  box-shadow: inset 0px 3px 9px rgba(153, 153, 153, 0.11);
  border-radius: 8px;
  padding: 16px 20px;
  font-size: 14px;
  line-height: 18px;

  color: var(--text-theme-3);

  &::placeholder {
    font-size: 14px;
    line-height: 18px;

    color: #afafaf;
  }


  position: relative;

  height: 74px;

  resize: none;

  &:focus-visible {
    outline: none;
  }

  width: 100%;
}

.description {
  height: 32px;
}

.cta-row {
  height: 16px;
  padding: 12px 12px;

  justify-content: space-between;
  display: flex;
  align-items: center;
  &-mobile {
    margin-top: auto;
  }

  .border-round {
    border: 1px solid gray;
    border-radius: 6px;
  }

  .estimated-pomos {
    display: flex;
    align-items: center;

    .estimated-pomos-text {
      color: #808ac4;
      font-size: 12px;
      line-height: 16px;

      margin-left: 8px;
    }

    .estimated-pomos-container {
      margin-left: 8px;
    }
  }

  .right-cta {
    display: flex;
    align-items: center;

    .icon-container {
      padding: 2px 4px;

      &.priority-icon {
        padding: 2px 0px 2px 4px;
      }

      &:hover {
        background-color: var(--bg-break);
      }
    }
  }

  .priority-popover {
    display: flex;
    background-color: white;
    flex-direction: column;
    min-width: 100px;
    min-height: 100px;
  }

  .project {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px;

    margin-right: 8px;

    background: var(--bg-theme);
    border: var(--edit-border);
    color:var(--edit-project-color);
    box-sizing: border-box;
    border-radius: 4px;

    filter: var(--project-filter);

    font-size: 12px;
    line-height: 16px;
  }
}

.save-cta {
  margin-top: 12px;

  :first-child {
    margin-right: 10px;
  }
}
