.edit-task {
  width: 100%;
  min-height: 140px;

  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr;

  background: #ffffff;
  border: 1px solid #bababa;
  box-sizing: border-box;
  border-radius: 12px;

  .task-tags-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 10px;

    grid-column: 1;
    grid-row: 3 / 4;

    .task-tag-item {
      border: 1px solid;
      border-radius: 5px;
      padding: 6px;
      position: relative;

      .close {
        position: absolute;
        top: -6px;
        right: 0px;
        cursor: pointer;
      }
    }
  }
}
.content-editable-div {
  background: #f9f9f9;
  border: 1px solid #bababa;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 8px rgba(121, 121, 121, 0.25);
  border-radius: 12px;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 18px;

  &:focus-visible {
    border: 1px solid #bababa;
    outline: none;
  }

  width: 100%;

  grid-row: 1 / 4;
  grid-column: 1;
}

.description {
  grid-row: 4 / 5;
  grid-column: 1;
}

.cta-row {
  grid-row: 5 / 6;
  padding: 12px;

  justify-content: space-between;
  display: flex;
  align-items: center;

  .border-round {
    border: 1px solid gray;
    border-radius: 6px;
  }

  .estimated-pomos {
    display: flex;
    align-items: center;

    .estimated-pomos-text {
      flex: 1 1 100px;
    }

    .estimated-pomos-container {
      flex: 1 1 100px;
      position: relative;
      top: 2px;
      margin-left: 5px;
    }
  }

  .right-cta {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .priority-popover {
    display: flex;
    background-color: white;
    flex-direction: column;
    min-width: 100px;
    min-height: 100px;
  }

  .project {
    display: flex;
    border: 1px solid black;
    align-items: center;
    padding: 2px;
  }
}

.save-cta {
  margin-top: 20px;

  :first-child {
    margin-right: 10px;
  }
}
