.description-bullet {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  .descitem {
    display: flex;
    align-items: center;
    gap: 4px;

    .bullet {
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background-color: black;
    }
  }
}

.desc-input {
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 0px 0px 0px;

  input {
  background: var(--bg-theme);
  }
  border-top: var(--task-desc-border);

  &:focus {
    outline: none;
  }

  input::placeholder {
    font-size: 14px;
    line-height: 16px;

    color: #afafaf;
  }

  input {
    outline: none;
    border: none;
    width: 100%;
  }
}

.description-value {
  height: 32px;
  padding: 0px 20px;
  input {
    resize: none;
    outline: none;
    border: none;
    font-size: 14px;
    line-height: 16px;
    line-height: 10px;
    padding: 0px 0px;
    color: var(--text-theme-3);
    position: relative;
    width: 100%;
  }

  border-radius: 8px;
  border-bottom: var(--task-desc-border);
}
