.description-bullet {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  .descitem {
    display: flex;
    align-items: center;
    gap: 4px;

    .bullet {
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background-color: black;
    }
  }
}

.desc-input {
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;

  background: #ffffff;

  &:focus {
    outline: none;
  }
}

.description-value {
  height: 32px;
  padding: 0px 20px;
  textarea {
    border-top: 1px solid #e0e3fc;
    resize: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 9px;
    padding: 6px 0px;
    color: #9aa2cf;
  }

  border-radius: 8px;
  border-bottom: 1px solid #e0e3fc;
}
