@import "../../../styles/theme";

.timer {
  .round {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    border: 3px solid black;
    box-shadow: -3px 5px 15px 1px;

    justify-self: center;

    &.border-red {
      border-color: red;
    }
  }

  &-cta {
    margin-top: 20px;

    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
  }
}
