.timer {
  .round {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    border: 3px solid black;
    box-shadow: -3px 5px 15px 1px;

    &.border-red {
      border-color: red;
    }
  }
}
