.nav {
  @media only screen and (min-width: 899px) {
    display: none;
  }

  position: sticky;
  bottom: 0;

  display: flex;
  width: 100vw;

  background-color: var(--bg-theme);
  border-top: 1px solid var(--border-navbar-theme);

  padding: 10px 20px;
  box-sizing: border-box;

  .item {
    flex: 1;
    justify-content: center;
    display: flex;

    svg {
      width: 25px;
      height: 25px;
      color: var(--text-theme);
      opacity: 0.5;
    }
  }

  .selected {
    svg {
      fill: var(--navbar-selected-color);
      color: var(--navbar-selected-color);
      opacity: 1;
    }
  }
}
