.project-sidebar {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  padding: 8px 8px 6px 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  .accordion {
    margin-left: auto;
    border-color: white;
    transition: all 0.3s ease-out;
    cursor: pointer;

    position: relative;
    top: 2px;
    right: 4px;

    &.down {
      transform: rotate(180deg);
    }
    &.up {
      transform: rotate(90deg);
    }
  }
}

.project {
  padding-left: 22px !important;
}

.project-sidebar-second {
  padding: 0px 10px 10px 30px;

  .sidebar-row {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;

    color: white;

    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    flex-direction: row;

    padding: 8px 12px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }

  .create-project {
    font-weight: 600;
  }

  .selected {
    background: #3347ac;
    border-radius: 8px;
  }
}
