.main-view {
  display: grid;
  grid-template-columns: repeat(24, 1fr);

  grid-row: 2 / 4;

  .sidebar {
    border-right: 1px solid gray;
    grid-column: 1 / 6;
  }

  .todays-task-list {
    width: 90%;
  }

  .todays-task-container {
    grid-column: 17 / 25;
    padding: 20px;
  }

  .middle-container {
    grid-column: 6 / 17;

    .all-tasks-container {
      padding: 44px 38px 0px 84px;
      display: flex;
      flex-direction: column;
      .title {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 32px;
        line-height: 36px;
      }

      .add-task-btn {
        margin-bottom: 20px;
      }
    }
  }
}
.container {
  font-family: Roboto;
}
