.main-view {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  grid-row: 2 / 4;

  .sidebar {
    border-right: 1px solid gray;
    grid-column: 1 / 3;
  }

  .todays-task-list {
    width: 90%;
  }

  .todays-task-container {
    grid-column: 9 / 13;
    padding: 20px;
  }

  .middle-container {
    grid-column: 3 / 9;
    padding: 20px;
  }
}
.container {
  font-family: Roboto;
}
