.main-view {
  display: grid;
  grid-template-columns: repeat(24, 1fr);

  height: calc(100vh - 56px);
  grid-row: 2 / 4;

  .sidebar {
    border-right: var(--all-task-sidebar-border);
    grid-column: 1 / 6;
    height: calc(100vh - 104px);
  }

  .todays-task-list {
    width: 100%;

    .todays-empty {
      color: rgb(105, 105, 105);
      font-size: 14px;
    }
  }

  .right-container {
    position: sticky;
    top: 0;
    padding-left: 2px;
    width: 25vw;
    background-color: var(--bg-theme);

    .todays-task-container {
      z-index: 1;
      padding: 10px 16px 0px 16px;
      border: var(--todays-task-border);
      box-sizing: border-box;
      box-shadow: var(--todays-box-shadow);
      border-radius: 8px;

      height: 80vh;
      margin-top: 24px;

      font-size: 14px;
      line-height: 20px;

      transition: all 0.4s ease-in-out 0.05s;
      overflow: scroll;

      color: var(--todays-task-color);

      .title {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 16px;

        svg {
          margin-right: 8px;
        }

        .estimate-text {
          font-weight: 500;
          font-size: 14px;
          color: var(--todays-estimated-color);
        }
        .right {
          margin-left: auto;
          display: flex;
          align-items: center;
          gap: 5px;
          
          color: var(--text-theme);
        }
      }

      &.closed {
        margin-left: 100%;

        padding: 0px;
      }
    }

    .todays-task-btn {
      z-index: 0;
      position: absolute;
      right: 0px;
      top: 24px;
    }
  }
  .middle-container {
    grid-column: 6 / -1;
    display: flex;

    background-color: var(--bg-theme);

    .route {
      width: 100%;
    }

    height: calc(100vh - 56px);
    overflow-y: scroll;
    .illustration {
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .text {
        font-weight: 500;
        font-size: 14px;
        color:var(--todays-text-color);
      }

      .text-light {
        font-weight: 500;
        font-size: 12px;
        color: #adadad;
      }
    }
    .all-tasks-container {
      padding: 44px 38px 0px 84px;
      display: flex;
      flex-direction: column;
      background-color: var(--bg-theme);

      .title {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 32px;
        line-height: 36px;

        color: var(--text-theme);

        display: flex;
        justify-content: space-between;
      }

      .add-task-btn {
        margin-bottom: 20px;
      }
    }
  }
}
