.empty-state {
  display: grid;

  img {
    width: 200px;
    height: 200px;
    justify-self: center;
  }

  button {
    justify-self: center;
  }
}

.task-container {
  margin-bottom: 15px;
}

.completed-tasks {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
