.empty-state {
  display: flex;
  flex-direction: column;
  margin-top: 81px;

  .welcome-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: var(--text-theme);
    margin-bottom: 36px;
    display: flex;
  }

  .create-task {
    width: 428px;

    background: var(--bg-2);
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    border: var(--welcome-border);

    padding: 17px 17px 23px 24px;

    .text-container {
      margin-bottom: 22px;
      color: var(--text-theme);
      .text {
        font-weight: 500;
        color: var(--brand-text-color);
      }
    }
  }

  .timer {
    margin-top: 14px;
    .or {
      font-size: 20px;
      line-height: 20px;

      color: var(--welcome-or-color);
    }
    .timer-text {
      font-size: 16px;
      line-height: 20px;

      color: var(--brand-text-color);
      margin-top: 10px;
    }
  }

  img {
    width: 200px;
    height: 200px;
    justify-self: center;
    align-self: center;
  }

  button {
    justify-self: left;
  }

  .panda-illus {

    position: absolute;
    img{
    width: 200px;
    height: auto;
    }
    bottom: 0px;
    right: 0px;
  }
}

.task-list {
  margin-top: 24px;

  .task-container {
    margin-bottom: 15px;

    .add-new-task {
      margin-top: 4px;
    }
  }

  .title-container {
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    display: block;
    margin-bottom: 4px;

    color: var(--text-theme);
  }

  .subtitle {
    font-size: 16px;
    font-weight: 400;

    color: var(--text-theme);
  }
}

.horizontal-rule {
  margin-top: 52px;

  border-top: 1px solid #cdd2f7;
  margin-bottom: 16px;
}
.completed-tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.daily-stats {
  margin-bottom: 32px;
}

.completed-illustration {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text {
    color: #444444;
    font-weight: 500;
    font-size: 14px;
    margin-top: 16px;
  }
}
