.empty-state {
  display: flex;
  flex-direction: column;
  margin-top: 81px;

  .welcome-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: var(--text-theme);
    margin-bottom: 36px;
  }

  .create-task {
    width: 428px;

    background: #f7f7ff;
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    padding: 17px 17px 23px 24px;

    .text-container {
      margin-bottom: 22px;
      .text {
        font-weight: 500;
        color: #2e3c87;
      }
    }
  }

  .timer {
    margin-top: 14px;
    .or {
      font-size: 20px;
      line-height: 20px;

      color: #ff9f2f;
    }
    .timer-text {
      font-size: 16px;
      line-height: 20px;

      color: #4157b2;
    }
  }

  img {
    width: 200px;
    height: 200px;
    justify-self: center;
    align-self: center;
  }

  button {
    justify-self: left;
  }
}

.task-list {
  margin-top: 24px;

  .task-container {
    margin-bottom: 15px;

    .add-new-task {
      margin-top: 4px;
    }
  }

  .title-container {
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    display: block;
    margin-bottom: 4px;

    color: var(--text-theme);
  }

  .subtitle {
    font-size: 16px;
    font-weight: 400;

    color: var(--text-theme);
  }
}

.horizontal-rule {
  margin-top: 52px;

  border-top: 1px solid #cdd2f7;
  margin-bottom: 16px;
}
.completed-tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.daily-stats {
  margin-bottom: 28px;
}
