.empty-state {
  display: grid;

  img {
    width: 200px;
    height: 200px;
    justify-self: center;
  }

  button {
    justify-self: center;
  }
}

.task-container {
  max-height: 350px;
  margin-bottom: 15px;
}
