.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  .title {
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;

    display: flex;
    align-items: center;
    align-self: center;

    .logo {
      color: #566ee8;
    }
    color: #000000;
  }

  .title-mobile {
    font-size: 22px;
    line-height: 36px;
    font-weight: bold;

    margin-top: 6px;

    .logo {
      color: #566ee8;
    }
    color: #000000;
  }

  .welcome-text {
    margin-top: 30px;
    font-weight: 700;
    font-size: 22px;
    color: #191e44;
  }
  .divider {
    width: 50%;
    border-top: 1px solid #d3daff;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 28px;

    align-self: center;

    .divider-text {
      position: relative;
      top: -16px;
      padding: 6px;
      background-color: white;
      font-size: 18px;
      color: #a0a8cf;
    }
  }

  .signup-text {
    align-self: center;

    font-size: 14px;

    margin-top: 10px;
    cursor: pointer;

    font-size: 14px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;

    color: #21328d;
  }
  .socials {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 25px;
  }
  .socials-mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 25px;
    align-items: center;
  }
}
