.tags-sidebar {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 700;

  .accordion {
    margin-left: auto;
    position: relative;
    top: 0px;
    right: 4px;

    transition: all 0.5s ease-out;
    cursor: pointer;
  }
}

.tags-sidebar-second {
  padding: 10px 10px 10px 40px;

  .sidebar-row {
    display: flex;
    align-items: center;
    gap: 6px;

    cursor: pointer;
    margin-bottom: 8px;

    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }

  .selected {
    background-color: var(--all-task-sidebar-selected-bg);
  }

  .tag {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;
    cursor: pointer;

    padding: 8px 6px;
  }

  .tag-row {
    max-height: 202px;
    overflow: scroll;
  }
}
