.project-container {
  display: flex;
  flex-direction: column;

  background: #ffffff;
  border: 1px solid #cbcee1;
  box-shadow: 1px 4px 4px rgba(146, 154, 202, 0.36);
  border-radius: 4px;
  padding: 8px 16px;

  .title {
    font-size: 12px;
    line-height: 16px;
    color: #414141;
    font-weight: bold;

    .login {
      text-decoration: underline;
      padding-bottom: 2px;
      color: #9e7ad8;
    }
  }
  .selected {
    border: 1px solid red;
  }

  .projects {
    border-bottom: 1px solid gray;
    .sections {
      padding: 10px 25px;
      padding-left: 25px;

      .section {
        border-bottom: 1px solid gray;
        padding-bottom: 4px;

        &:hover {
          transform: scale(1.02);
        }
      }
    }
    &:last-child {
      border-bottom: none;
    }

    &:hover {
      transform: scale(1.01);
    }
  }
}
